<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/profiles/<%= profileId %>/add" enctype="multipart/form-data">
      <label for="">Judul Post</label></br>
      <input type=”text” name="titlePost" /></br>
      <p style="color: red;">
        <% if (error) { %> <%= error.find(el => el.includes("Judul")); %>
        <% } %>
      </p>
      <label for="">Gambar</label></br>
      <input type='file' name="imagePost" /></br>
      <p style="color: red;">
        <% if (error) { %> <%= error.find(el => el.includes("Gambar")); %>
        <% } %>
      </p>
      <label for="">Caption</label></br>
      <input type=”text” name="captionPost" /></br>
      <p style="color: red;">
        <% if (error) { %> <%= error.find(el => el.includes("Caption")); %>
        <% } %>
      </p>
      <label for="cars">Tag</label><br/>
      <select id="cars" name="tagId">
        <option selected value="">Pilih tag disini</option>
        <% tags.forEach(el => { %>
            <option value="<%= el.id %>"><%= el.tagName %> <%= el.id %></option>
        <% }) %>
      </select>
      <button type="”submit”">Search</button>
    </form>
  </body>
</html>
