<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px; 
            max-width: 1200px; 
            margin: 0 auto;
        }
        .card {
            max-width: 300px;
            flex: 1 1 30%;
        }
        .jumbotron {
            display: flex;
            justify-content: center;
        }
    .search {
    display: inline-block;
    position: relative;
    align-items: center;
    }

    .search input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .search button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
    }

    .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: blue;
    }
    </style>
    <link href="https://unpkg.com/flowbite@1.4.0/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>


 <%- include('_navbar') %>
      <div class="jumbotron">
        <form action="/" method="GET" class="search">
            <input name="search" placeholder="Search..." type="text" required>
            <button type="submit">Go</button>
        </form>

      </div>
      <% data.forEach(element => { %>
        <div class="card-container">
            <div class="card max-w-sm rounded overflow-hidden shadow-lg">
                <div class="px-6 pt-4 pb-2">
                    <h4 class="font-bold"><%= element.Profile.name %></h4>
                </div>
                <img class="w-full" src="<%= element.picturePost %>" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2"><%= element.titlePost %></div>
                    <p class="text-gray-700 text-base">
                        <%= element.captionPost %>
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <% element.Tags.forEach(tag => { %>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= tag.tagName %></span>
                    <% }) %>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <h4><%= element.createdAt %></h4>
                </div>
            </div>
      <% }) %>
    <!-- component -->
<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.min.js"></script>
</body>
</html>